
*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
 
  background:url("");
  background-size: cover cover;
  
}

#wrapper {
  
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;

}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  background: #ffffff;
  overflow-y: auto;
  border-right:2px solid #e6e6e6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;


}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
 
}


.description-citesoft{
  text-align: center;
  max-width:600px;
  margin: auto;
  color: #666666;
  margin: 50px auto;

}

h1, h2 ,h3{
  color:orange;
}
small{
  color:green;
}


#page-content-wrapper {

  width: 100%;
  position: absolute;
  padding: 15px;
  background: url("") no-repeat;
  background-position:  cover center;

}

#wrapper.toggled #page-content-wrapper {
 
  margin-right: -250px;
}


/* menu */
.img-menu{

  background: #bbbbbb;
  padding: 8px 10px 14px 10px;
  border-radius: 5px;
  margin: 0px;
}


/* Sidebar Styles */
.sidebar-header{
  width: 100%;
  text-align: center;
  margin: 20px auto;
  color: orange;
  position: relative;

}
.sidebar-header img{
  width: 150px;
}

.sidebar-nav {

  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #808080;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 160, 1, 1);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav .navbar-nav li a{
  padding-left:15px; 
}
.sidebar-nav .search{
  padding: 7% 0 6% 0;
  height: 80px;
  border-top: 1px solid #e6e6e6 ;
  
   
}
.sidebar-nav .input-search[type=text]{
  border:1px solid silver;
  padding-left:  10px;
  width: 150px;
}
a.left{
  float: right;
  margin: auto 5px;
}
.container .right{
  float: right;
  margin: 10px auto;
}
.container-fluid a.user {
  color: #666666;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.contenido-proyecto{
  text-align: center;
}
.contenido-proyecto a{
  margin:15px auto; 
}
.container .row .img-responsive{
  
  margin: auto;
  width: 100px;
  height: 100px;
} 

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;

  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
 
    width:100%;
    position: relative;

  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

}


/* movimientos */
.movimientos{
  padding:100px auto;
}
.movimientos h2{
  text-align: center;
}


/* cuadros */
.portfolio-item {
  margin-bottom: 30px;
}
.miembro{
  min-width: 230px;
  margin: auto;
}
.miembro img{
  width: 200px;
  height: 200px;
}
.miembro a p {
  margin: 10px auto;
  width: 200px;
  height: 40px;
  padding: 8px 0px 8px 0px;
  border-radius: 5px;
  background: #e0740a;
  color: white;
}
.miembro a:hover{
  text-decoration: none;
}


/* form */
form input[type=text],input[type=email],input[type=password],input[type=file],input[type=date]{
  border-color:orange;
  color:#808080;
}
form textarea{
  border:none;
}
.select {
  border-color: orange;
}
form select option{
  border-color:orange;
}

.input-group-text{
  background-color:orange;
  color:white;
  border:1px solid orange;
}

.selected{
    cursor: pointer;
  }
  .selected:hover{
    background-color: #E6E6E6;
    color: white;
  }
  .seleccionada{
    background-color: #E6E6E6;
    color: white;
  }
  label {
    padding-left: 10px;
  }

/* botones */
.btn-primary{
  background-color: orange;
  border:none;
}
.btn-primary:hover{
  background: #fd8008;
}
.btn-secondary{
  background-color: #999999;
  border:none;
}
.btn-secondary:hover{
  background: #808080;
}
.btn-danger{
  border:none;
}


/*  file */

.thumb {
   margin: 0px 5px 0 0;
   overflow: hidden;
    }
output {
   margin: 10px 0px 0 0;
   }
.img-responsive-16by9 {
    display: block;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;

}
.img-responsive-16by16 {
    display: block;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}
.img-responsive-16by16-2 {
    display: block;
    height: 0;
    padding-bottom:75%;
    overflow: hidden;
}
.color-gris{
  color: #666666
}
/*table
  table thead{
        background: #F1F4F4;
        color: #999999;
      }
*/
