{% extends "base/base_administrador.html" %}
{% load static %}
{% load %}
{% load extras %}
{% load staticfiles %}
{% csrf_token %}

<!-- head -->
{% load staticfiles %}
{% block head %}
<title>Reportes</title>
{% endblock %}
<!-- /head -->

{% block style %}

<style type="text/css">
    .boton_generar, .boton_generar:focus {
        color: #ffffff !important;
        /*font-size: 20px;*/
        /*font-weight: 500;*/
        padding: 0.5em 1.2em;
        background-color: #FF8000;
        border: 2px solid;
        border-color: #E25F23;
        transition: all 1s ease;
        /*position: relative;*/
        /*margin-left: 4%;*/

    }
    .boton_generar:hover {
        text-decoration: none;
        background: #00a014;
        color: #fff !important;
        border: 2px solid;
        border-color: #008511;

    }
</style>
{% endblock %}

<!-- body -->
{% block content %}
<!--Script-->

<script type="text/javascript">
    var desde,hasta,filtro;
    function capturarCampos(){
        desde  = document.getElementById("desdeFecha").value;
        hasta  = document.getElementById("hastaFecha").value;
        filtroPrestamo = document.getElementById("estadoPrestamo").value;
    }

    /*script para manejar request del pdf*/
    function cambiarAction(action_name)
    {
        capturarCampos();
        var pdf = document.getElementById("pdf-content");
        var clon = pdf.cloneNode(true);
        document.getElementById("pdf-area").style.display = "block";

        if(action_name=="pro"){
            var source = "{% url 'reporte_proyectos_pdf' %}" +"?desdeFecha=" + desde + "&hastaFecha=" + hasta;
            clon.setAttribute('src',source);
            pdf.parentNode.replaceChild(clon,pdf);
        }
        else if(action_name=="mie"){
            var source = "{% url 'reporte_miembros_pdf' %}" +"?desdeFecha=" + desde + "&hastaFecha=" + hasta;
            clon.setAttribute('src',source);
            pdf.parentNode.replaceChild(clon,pdf);
        }
        else if(action_name=="rec"){
            var source = "{% url 'reporte_recursos_pdf' %}" +"?desdeFecha=" + desde + "&hastaFecha=" + hasta;
            clon.setAttribute('src',source);
            pdf.parentNode.replaceChild(clon,pdf);
        }
        else if(action_name=="pre"){
            var source = "{% url 'reporte_prestamos_activos_pdf' %}" +"?desdeFecha=" + desde + "&hastaFecha=" + hasta + "&estadoPrestamo=" + filtroPrestamo;
            clon.setAttribute('src',source);
            pdf.parentNode.replaceChild(clon,pdf);
        }
        else if(action_name=="cla"){
            var source = "{% url 'reporte_abc_pdf' %}" +"?desdeFecha=" + desde + "&hastaFecha=" + hasta;
            clon.setAttribute('src',source);
            pdf.parentNode.replaceChild(clon,pdf);
        }
        else{
            alert("Seleccione el tipo de reporte que desea generar");
            clon.setAttribute('src',"");
            pdf.parentNode.replaceChild(clon,pdf);
            document.getElementById("pdf-area").style.display = "none";
        }
    }

    /*END Script para manejar request del pdf*/

    /*Script para mostrar/ocultar filtros*/
    function cambiarFiltro(valor){
        if(valor=="pre"){
            document.getElementById("filtro-prestamo").style.visibility = 'visible';
            document.getElementById("filtro-prestamo-label").style.visibility = 'visible';
        }
        else{
            document.getElementById("filtro-prestamo").style.visibility = 'hidden';
            document.getElementById("filtro-prestamo-label").style.visibility = 'hidden';
        }
    }
    /*END Script para mostrar/ocultar filtros*/
    

</script>
<!--Script-->

<!-- Page Content -->
<div class="container">
    <div class=" w-100 py-5 text-center">
        <H1 class="text-warning mt-5 mb-4">REPORTES</H1>
        <!--button class="btn btn-light">Más Información</button-->
    </div>

    <!--formulario compacto-->
    <div class="row bg-secondary text-white">
        <div class="row" style="margin: 0 auto;">
            <div class="col-md-12">
                <div class="row" style="height: 40px;"></div>
            </div>
            <div class="col-md-1">
                <label class="control-label col-form-label-lg">Reporte&nbsp;de:</label>
            </div>
            
            <div class="col-md-3">
                <select class="form-control form-control-lg select"
                 id="tipo-reporte"
                 onchange="cambiarFiltro(this.value)"
                >
                    <option >Seleccione:</option>    
                    <option value="pro">Proyectos</option>
                    <option value="mie">Miembros</option>
                    <option value="rec">Recursos</option>
                    <option value="pre">Préstamos</option>
                    <option value="cla">Clasificación ABC</option>
                </select>
            </div>
            
            <div class="col-md-1">
                <label class="control-label col-form-label-lg">Desde:</label>
            </div>

            <div class="col-md-3">
                <input type="date" value="2016-01-01" class="form-control form-control-lg " name="desdeFecha" id="desdeFecha" required>
            </div>

            <div class="col-md-1">
                <label class="control-label col-form-label-lg">Hasta:</label>
            </div>

            <div class="col-md-3">
                <input type="date" class="form-control form-control-lg " name="hastaFecha" id="hastaFecha" required>
            </div>

            <div class="col-md-12">
                <div class="row" style="height: 40px;"></div>
            </div>

            <div class="col-md-1" id="filtro-prestamo-label" style="visibility: hidden;">
                <label class="control-label col-form-label-lg">Filtrar&nbsp;por:</label>
            </div>

            <div class="col-md-3" id="filtro-prestamo" style="visibility: hidden;">
                <select class="form-control form-control-lg select" name="estadoPrestamo" id="estadoPrestamo" required>
                    <option value="PRESTADO">Prestados</option>
                    <option value="DEVUELTO">Devueltos</option>
                </select>
            </div>

            <div class="col-md-5"></div>

            <div class="col-md-3">
                <script>
                    document.getElementById('hastaFecha').valueAsDate = new Date();
                </script>
                <button type="button" 
                    class="form-control form-control-lg btn btn-outline-success boton_generar"
                    onclick="cambiarAction(document.getElementById('tipo-reporte').value)"
                > 
                    Generar Reporte 
                </button>    
            </div>
            
            <div class="col-md-12">
                <div class="row" style="height: 40px;"></div>
            </div>

        </div>
    </div>
    <!--end formulario compacto-->

    <!--PDF section-->
    <div class="row bg-dark"  id="pdf-area" style="display: none;">       
        <div class="col-md-12">
            <div class="row" style="height: 20px;"></div>
        </div>
        
        <div class="col-md-12">
            <embed  src=""
            id="pdf-content"
            width="100%" height="900px" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
        </div>
        
        <div class="col-md-12">
            <div class="row" style="height: 20px;"></div>
        </div>

    </div>
</div>
{% endblock %}


    <!-- /body -->